.create-img-cont {
    width: 65vw;
    margin: 30px auto;
}

.create-img-cont img {
    padding: 10px 0;
    width: 256px;
    aspect-ratio: 1/1;
}

.create-img-cont form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

#prompt {
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#prompt:focus {
    outline: none;
}

.create-img-cont input[type="button"],
.create-img-cont input[type="submit"] {
    width: 30%;
    margin: 3px 0;
    cursor: pointer;
}