.all-card{
    width: 65%;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}
.single-card{
    position: relative;
    margin-right:4px ;
}
.card-image{
    width: 240px;
    height: 240px;
}

.card-contant{
    background: #e7dfdf;
    padding: 10px;
    width: 220px;
    height: 220px;
    text-align: left;
    position: absolute;
    top:0;
    opacity: 0;
}

.card-contant:hover{
    opacity: 94%;
}

.card-contant button{
    position: absolute;
    bottom: 0;
    width: 90%;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}
